section {
    width: 90%;
    margin: 0 auto;

    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: 3.5rem;

        & li {
            width: 260px;
            display: flex;
            border-radius: 5px;
            align-items: center;
            flex-direction: column;
            border: 2px solid var(--grey-0);
        }

        & li> :nth-child(1) {
            box-sizing: border-box;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--grey-0, #F5F5F5);

            img {
                max-width: 158px;
                max-height: 158px;
            }
        }

        & div {
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            & h3 {
                margin-bottom: 0.3125rem;
            }

            & :nth-child(2) {
                margin-bottom: 0.625rem;
            }

            & :nth-child(3) {
                color: #27AE60;
                font-weight: 600;
                margin-bottom: 0.875rem;
            }

        }
    }

}

@media (max-width: 700px) {
    section {
        & ul {
            flex-wrap: nowrap;
            overflow-x: scroll;

            li {
                width: 100%;

                & div {
                    width: 300px;
                }
            }
        }
    }
}