button {
    border: none;
    padding: 20px;
    font-weight: 600;
    border-radius: 8px;
    align-items: center;
    font-size: 0.875rem;
    display: inline-flex;
    transition: 0.5s ease;
    justify-content: center;
    color: var(--text-color);
    background-color: var(--color-button);

    &:hover {
        height: 40px;
        background-color: var(--color-button-focus);
    }

    &:focus {
        background-color: var(--color-button-focus);
    }
}